<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="user-edit-form">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Email Address</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" placeholder="enter an email address..."
                                   value="{{user.email}}"{{#if user.email}} disabled="disabled"{{/if}}>

                        </div>
                        <div class="col-sm-1">
                            <span class="help-block">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" value="********">
                        </div>
                        <div class="col-sm-1">
                            <span class="help-block">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roles" class="col-sm-3 control-label">Roles</label>

                        <div class="col-sm-8">
							{{#each roles}}
                                <div class="checkbox">
                                    <label for="roles_{{this}}">
                                        <input type="checkbox" name="roles[]" id="roles_{{this}}"
                                               value="{{this}}"{{#hasRole ../user this}}
                                               checked="checked"{{/hasRole}}/>
										{{this}}
                                    </label>
                                </div>
							{{/each}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default edit-user-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary edit-user-save">Save changes</button>
            </div>
        </div>
    </div>
</div>