<div class="parent">
	<div class="control-group">
		<label class="control-label">Name</label>
	    <div class="controls">
	    	<input type="text" value="{{name}}" name="capabilities[{{@index}}].name">
	    </div>
	</div>
	<div class="control-group">
		<label class="control-label">Default Value</label>
	    <div class="controls">
	    	<input type="text" value="{{defaultValue}}" name="capabilities[{{@index}}].defaultValue">
	    </div>
	</div>
	<div class="control-group">
		<label class="control-label">Unit</label>
	    <div class="controls">
	    	<input type="text" value="{{unit}}" name="capabilities[{{@index}}].unit">
	    </div>
	</div>
	<div class="control-group">
		<label class="control-label">Datatype</label>
	    <div class="controls">
	    	<input type="text" value="{{datatype}}" name="capabilities[{{@index}}].datatype">
	    </div>
	</div>
	<a class="btn btn-mini pull-right rm-cap" href="#" title="remove item">
		<i class="icon-remove"></i>
	</a>
</div>