
<div class="control-group">
	<input type="text" value="{{key}}" name="defaultChannelPipeline[{{outerIndex}}].configuration[{{@index}}].key" class="control-label">
	<div class="controls">
		<input type="text" value="{{value}}" name="defaultChannelPipeline[{{outerIndex}}].configuration[{{@index}}].value">
		<a class="btn btn-mini rm-pipe-param" href="#" title="remove param">x</a>
	</div>
</div>
