 {{#each configs}}
    <tr data-id="{{nodeUrn}}">
        <td>{{nodeUrn}}</td>
        <td>{{nodeType}}</td>
        <td>{{gatewayNode}}</td>
        <td>{{description}}</td>
        <td>{{nodeUSBChipID}}</td>
        <td>
            CheckAlive: {{timeoutCheckAliveMillis}}ms <br>
            Flash: {{timeoutFlashMillis}}ms  <br>
            Node-API: {{timeoutNodeApiMillis}}ms  <br>
            Reset: {{timeoutResetMillis}}ms  <br>
        </td>
        <td>
            <a class="btn btn-mini node-edit" title="Edit this entry">
                <i class="icon-edit"></i>
            </a>
            <br>
            <a href="#" class="btn btn-mini" data-confirm="Really remove node {{nodeUrn}} ?">
                <i class="icon-remove" title="Remove this entry"></i>
            </a>
        </td>
    </tr>
{{/each}}